@model Vidly1.Models.customer

@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>
<ul>
    <li>MembershipType: @Model.MembershipType.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        <li>Birthdate: @Model.BirthDate.Value.ToShortDateString()</li>
    }
</ul>


